
html {
  background: url(Background4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.banner {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.logoimage {
img.logo {
  display: block;
  //margin-left: 100 auto;
}

.heading {
  h1 {
    color=red
  }
}
}





p {
  max-width: 300px;

}
